<div class ='container' >

  <h1 class="row justify-content-center">My Bookings</h1>
  <h2 class="row justify-content-center">This is where you can see and updates your bookings. Have a look!</h2>


  <% if @bookings != [] %>


  <div class="cards-booking-position">
    <div class="cards-booking">
      <div class="cards-loc">
        <h3 class="title-cards">The bikes you rent</h3>
        <%# booking locataire %>
        <% @bookings.each do |booking| %>
        <div class="card card-body">
          <h5 class="card-title"><%= booking.comment %></h5>
          <h6 class="card-subtitle mb-2 text-muted">From <%= booking.start_date.to_formatted_s(:short) %> to <%= booking.end_date.to_formatted_s(:short) %></h6>
          <p class="card-text">Status : <%= booking.status %></p>
        </div>
        <% end %>
      </div>
    </div>

      <hr> <%# J'ai mis ca pour voir les deux catégories, a retirer par la suite %>

    <div class="cards-booking">
      <div class="cards-owner">
        <h3 class="title-cards">Your rented bikes</h3>
        <%# booking propriétaire %>
        <% @my_bookings.each do |booking| %>
        <%# data controller method#disappear + target à faire à la suite du cours du 27/05, peut-etre renvoyer à l'id du bike %>
        <div class="card card-body" data-controller="remove-button" data-remove-button-target="removed">
          <h5 class="card-title"><%= booking.comment %></h5>
          <h6 class="card-subtitle mb-2 text-muted">From <%= booking.start_date.to_formatted_s(:short) %> to <%= booking.end_date.to_formatted_s(:short) %></h6>
          <p class="card-text">Status : <%= booking.status %></p>
          <%# data action de  #disappear %>
          <div class="test btn-booking" data-action="click->remove-button#disappear">
            <%= link_to "Accept", accept_booking_path(booking), method: :patch, class: "card-link" %>
            <%= link_to "Decline", decline_booking_path(booking), method: :patch, class: "card-link" %>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
  <% else %>

  <div class="card">
    <div class="card-body">
      Oops... You don't have any bookings for now.
    </div>
  </div>
  <% end %>

</div>
