<div class="container container-bike">

  <h1 class="row justify-content-center title-page-all-bikes">These are all the bikes you can book :</h1>

  <div class="cards">
    <% @bikes.each do |bike|  %>


    <div class="card-index col-4" style="width: 20rem;">
      <% if bike.photo.attached? %>
        <%= cl_image_tag bike.photo.key%>
      <% else %>
        <img src="<%= bike.img_url %>">
      <% end %>
      <h5 class="card-index-title"><%= bike.name %></h5>
      <div class="card-index-info">
        <h6 class="card-index-price"><%= bike.price %> €/per day </h6>
        <h6 class="card-index-type"><%= bike.available ? "Available 🟢" : "Booked 🔴" %></h6>
        <h6 class="card-index-type"><%= bike.category.capitalize %></h6>
      </div>
      <%=  link_to "View details", bike_path(bike.id), class: "btn-card-index" %>
    </div>
    <% end %>
  </div>
  <div class="center-new-bike">
    <%=  link_to "Add a new bike advert", new_bike_path, class: "btn-card-index new-bike" %>
  </div>
</div>
