<div class="container">

  <h1 class="row justify-content-center padding-6">These are all the bikes you can book :</h1>

  <div class="cards row justify-content-around">
    <% @bikes.each do |bike|  %>

    <div class="card-index col-4" style="width: 18rem;">
      <% if bike.photo.attached? %>
        <%= cl_image_tag bike.photo.key%>
      <% else %>
        <img src="<%= bike.img_url %>">
      <% end %>
      <h5><%= bike.name %></h5>
      <div class="card-info">
        <h6 class="card-align-left"><%= bike.price %> €/per day </h6>
        <h6 class="card-align-right"><%= bike.category %></h5>
      </div>
      <%=  link_to "View details", bike_path(bike.id), class: "btn-card-index" %>
    </div>
    <% end %>
  </div>

  <%=  link_to "Add a new bike advert", new_bike_path, class: "btn-card-index" %>
</div>
