<div class="container">
  <h1>Please enter info about you new bike advert</h1>

  <%= simple_form_for (@bike) do |f| %>
    <%= f.input :name %>
    <%= f.input :size, collection: Bike::SIZE %>
    <%= f.input :category, collection: Bike::CATEGORY %>
    <%= f.input :img_url, as: :file %>
    <%= f.input :price, as: :numeric %>
    <%= f.submit "Submit bike add", class: "btn btn-primary" %>
  <% end %>
</div>
