<div class="container d-flex justify-content-center">
  <%= @bike.name %>
  <% if @bike.photo.attached? %>
        <%= cl_image_tag @bike.photo.key, class: "card-img-top"%>
  <% else %>
    <img src="<%= @bike.img_url %>" class="card-img-top" alt="...">
  <% end %>
  <%= @bike.category %>
  <%= @bike.price %>
  <% if policy(@bike).destroy? %>
  <%= link_to "Delete", bikes_path %>
  <% end %>

  <%= link_to "Edit", bikes_path %>
</div>

<%# afficher name img_url size category owner (bike.user.firstname + bike.user.firstname)  %>
